* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.column {
  width: 100%;
}

fieldset {
  border: none;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

label {
  color: #a1a1a1;
  font-size: small;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  color: teal;
  height: 50px;
  background-color: transparent;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: teal;
}

@media screen and (min-width: 768px) {
  form {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  .column {
    width: 30%;
  }
}
